# Dependencies
node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage

# VS Code
.vscode
*.code-workspace

# Mac files
.DS_Store

# Local files
*.local